


/*LOGO */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%; 
}

.logo {
    background: white;
    height: 50px; 
    margin-top: 15px;
    padding-bottom: 10px;
}

.fa-arrow-left{
    position: absolute;
    left: 8%;
    font-size: 20px;
}
  
.logo img {
    height: 30px;
}

/*IMAGE*/

.image {
    width: 100%;
}

.note {
    height: 300px;
}

.image img {
    width: 100%;
}

/*TITRE*/

.restaurant {
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.restaurant h1 {
    font-style: italic;
    font-family: 'Shrikhand';
    font-weight: 400;
}

.fa-heart {
    font-size: 24px;
}

/*MENU*/

.gnd_ctn {
    background-color: rgb(245, 245, 245);
    padding-top: 0px;
    border-radius: 35px 35px 0 0;
    padding: 32px 5% 20px 5%;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.ctn {
    margin-bottom: 15px;
}

.indic {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.green-line {
    width: 7%;
    background-color: var(--tertiaire);
    height: 3px;
    margin-top: 2px;
    margin-bottom: 15px;
    padding-bottom: 2px;
}

.ctn ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ctn ul li {
    cursor: pointer;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    /*padding: 13px 20px 13px 10px;*/
    margin-bottom: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 3px 0px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.ennonce {
    min-width: 70%;
    width: 90%;
    text-overflow: clip;
    white-space: nowrap;
    padding: 13px 20px 13px 10px;
}

.ennonce h2 {
    font-size: 18px;
    padding-bottom: 3px;
}

.ennonce p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.prix {
    width: 10%;
    font-weight: bold;
    margin-top: 22px;
    padding: 13px 20px 13px 3px;
}

.square {
    width: 20%;
    background-color: var(--tertiaire);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.fa-circle-check {
    color: white;
    font-size: 25px;
}


 
/* bouton commande */ 

.commande {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.commande button {
    background: linear-gradient(var(--secondaire), var(--primaire));
    padding: 15px 45px 15px 45px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 5px 0px;
}

.commande button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 5px 2px 7px 5px;
    filter: brightness(1.1);
}