/*FOOTER*/

.foot {
    height: 250px;
    background-color: rgb(58, 58, 58);
    padding-top: 30px ;
  }
  
  .logo2  img {
    filter: invert(100%);
    height: 17px;
    margin-bottom: 10px;
  }
  
  .contact {
    color: white;
    list-style: none;
  }
  
  .contact p {
    margin-bottom: 8px;
  }
  
  .contact i {
    color: white;
  }
  
  .contact li {
    display: flex;
    justify-content: flex-start;
  }

  .fa-handshake-angle {
    margin-right: 10px;
  }

  .fa-utensils {
    margin-right: 15px;
  }